$LightGreen: #b9e7e7;

.app {
    display: flex;
    justify-content: center;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
        padding: 0 100px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 14px;
    }

    .container {
        width: 100%;
        max-width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // LOGIN AND REGISTRATION
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            // background-color: $LightGreen;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("https://images.unsplash.com/photo-1611083616600-d3fdc4198aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");

            width: 100vw;
            position: relative;
            left: calc(-50vw + 50%);

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
                border-radius: 5px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }

                p {
                    color: red;
                    font-size: 14px;
                    text-align: center;
                }

                span {
                    font-size: 14px;
                    color: rgb(0, 0, 0, 0.5);
                    text-align: center;
                }
            }
        }

        // NAVBAR
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;

                .logo {
                    display: flex;
                    align-items: center;

                    .link {
                        font-family: "Courier New", Courier, monospace;
                        font-size: 1.5rem;
                        font-weight: bolder;
                        color: teal;
                    }
                }

                .links {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                        &:hover {
                            color: teal;
                        }
                    }

                    span {
                        cursor: pointer;
                        &:hover {
                            color: teal;
                        }
                    }

                    .write {
                        background-color: $LightGreen;
                        width: 60px;
                        height: 30px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;
                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        // FOOTER
        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $LightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            color: teal;

            .logo {
                .link {
                    font-family: "Courier New", Courier, monospace;
                    font-size: 20px;
                    font-weight: bolder;
                    // color: teal;
                }
            }
        }

        // HOME PAGE
        .home {
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                @media screen and (max-width: 1024px) {
                    gap: 50px;
                }

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n + 1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                            border: 1px solid #007070;
                            box-shadow: 4px 4px 4px teal;
                            border-radius: 5px;
                        }
                    }
                }

                @media screen and (max-width: 1024px) {
                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        &:nth-child(2n + 1) {
                            flex-direction: column;
                        }

                        .img {
                            flex: 2;
                            position: relative;

                            img {
                                width: 100%;
                                max-height: 400px;
                                object-fit: cover;
                                border: 1px solid teal;
                                box-shadow: 9px 8px 1px $LightGreen;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .content {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 18px;
                    line-height: 1.4;
                }

                button {
                    width: max-content;
                    margin-top: 10px;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid $LightGreen;
                    color: teal;
                    font-size: 16px;

                    &:hover {
                        border: 1px solid white;
                        background-color: $LightGreen;
                        // color: black;
                    }
                }
            }
        }

        // SINGLE
        .single {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 50px;

            .content {
                display: flex;
                flex-direction: column;
                gap: 30px;

                img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: contain;
                    border-radius: 5px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;
                    img {
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 1.58;
                    font-size: 16px;
                }
            }

            .end {
                color: #555;
                text-align: center;
                font-size: 80px;
                letter-spacing: 5px;
                margin-top: -80px;
            }

            h2 {
                color: #555;
            }

            // MENU
            .menu {
                // flex: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 46%;

                    img {
                        width: 100%;
                        object-fit: contain;
                        border-radius: 5px;
                    }

                    h3 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 5px 15px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid $LightGreen;
                        color: teal;
                        font-size: 14px;

                        &:hover {
                            border: 1px solid white;
                            background-color: $LightGreen;
                        }
                    }
                }
            }
        }

        // WRITE

        .ql-editor {
            height: 200px;
            width: 100%;
        }

        .add {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    color: #555;

                    h1 {
                        font-size: 20px;
                    }

                    .buttons {
                        :nth-child(2n) {
                            cursor: pointer;
                            color: teal;
                            font-weight: bold;
                            background-color: white;
                            border-radius: 2px;
                            padding: 3px 5px;
                            border: 1px solid teal;
                        }

                        :nth-child(2n + 1) {
                            cursor: pointer;
                            color: white;
                            font-weight: bold;
                            background-color: teal;
                            border-radius: 2px;
                            padding: 3px 5px;
                            border: 1px solid teal;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }
    }
}
